/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body {
  background-color: #e3e3e3;
}

* {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1em;
}
